@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

:root{
    --baje: #EFA14B;
    --azul: #3382c1;
  }


.project_details{
    padding: 2em;
    width: 100vw;
}
.project_details h1,
.project_details h2,
.project_details p{
    margin-bottom: .5em;
    
}
.project_details h1{
    background-color: var(--baje);
    color: white;
    padding: 14px;
    font-size: 27pt;
    border-radius: 10px;
}
.project_details span{
    font-weight: bold;

}

.details_container, .service_form_container{
    border-bottom: 1px solid #7a7a7a;
    margin-bottom: 1.2em;
    padding-bottom: 1.2em;
    
}
.btn{
    padding: 12px;

    background-color: #297cc0;
    color: #fcfcfc;

    border-radius: 5px;

    font-size: 11.5pt;
    font-weight: 900;
    text-decoration: none;
    text-shadow: 2px 1px 2px rgba(0, 0, 0, 0.224);
    cursor: pointer;
    border: none;
    max-height: 40px;
    
}
.btn:hover{
    background-color: #005aa3;
}
.project_info{
    width: 100%;
}
.modal_overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  background: white;
  padding: 0 30px 0 30px;
  border-radius: 15px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  text-align: center;
  width: 360px;
  height: 200px;
}

.modal_close {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 16px;
  color: #007bff;
}


