@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');


:root{
    --baje: #EFA14B;
    --azul: #3382c1;
}

@keyframes animacao_loading {
    from {
		transform: rotate(0);
        border-left-color: var(--azul);
        
	}
	to {
		transform: rotate(360deg);
        border-left-color: var(--baje);
        
	}
    
}

.caixa_loading{
    text-align: center;
    width: 60px;
    height: 80px;

    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, 200%);

    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 90px;
}
.loading{
    
    margin-bottom: 15px;

    border: 5px solid #DCDCDC;
	border-left-color: var(--azul);
	border-radius: 50%;

	height: 50px;
	width: 50px;

    animation: animacao_loading 2s linear infinite;
}
.caixa_loading p{
    position: fixed;
    bottom: 0;
    

    font-family: 'Quicksand', sans-serif;
}