
:root{
    --baje: #EFA14B;
    --azul: #3382c1;
}
.container_card{
    width: 100%;
    display: flex;
    justify-content: center;
    
    margin-bottom: 10px;
    

}
.project_card{
    padding: 3em;
    
    border-bottom: 1px solid rgb(0, 84, 0);  
    
    display: flex;
    align-items: center;
    justify-content: center;
}

h1{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin: 0 50px;
    text-align: center;
    
}

.project_card_actions{
    display: flex;
    align-items: center;
}
.project_card_actions button{
    text-decoration: none;
    border: 1px solid rgba(0, 0, 0, 0.141);
    
    font-size: 0.9em;
    font-weight: bolder;

    padding: .6em 1em;
    
    cursor: pointer;
    display: flex;
    justify-content: center;
    transition: 0.5s;
}

.button_remove{
    color: #d22b2b;
    background-color: #ffdede;

    margin-left: 10px;

}
.button_edit{
    color: #008383;

    background-color: rgba(0, 187, 220, 0.137);

}

.button_remove:hover{
    color: #b32727;

    background-color: #fea7a7;
}
.button_edit:hover{
    color: #004e55;

    background-color: #8ed9fcaa;
}


